<%= _.template(require('./../includes/header.html').default)(data) %>

    <div id="mainContainer">
        <div class="container">
            <div class="weather-continer">
                <div class="weather-data">
                    <div class="weather-data-cluster">
                        <p class="weather-data-cluster__location "><span class="city">Минск</span><span class="country">, Беларусь</span> </p>

                        <p class="weather-data-cluster__date-time" id="clock">пн 25 май &nbsp; 12:55</p>
                        <div class="current-weather">
                            <div>
                                <p class="weather-data-cluster__temperature-today">13</p>
                            </div>
                            <div> <img class="weather-data-cluster__weather-icon" alt="Rain" src="img/Rain.png">
                                <div class="weather-data-cluster__weather-data">
                                    <p class="description">Возможен Небольшой Дождь</p>
                                    <p class="feels">Ощущается как: 13°</p>
                                    <p class="wind-speed">Ветер: 2 m/s</p>
                                    <p class="humidity">Влажность: 74%</p>
                                </div>
                            </div>
                        </div>
                        <div class="weather-days">
                            <div class="forecast">
                                <p class="forecast__day">вторник</p>
                                <p class="forecast__temperature tomorrow">1°</p><img class="forecast__icon" alt="partly-cloudy-day" src="img/partly-cloudy-day.png"></div>
                            <div class="forecast">
                                <p class="forecast__day">среда</p>
                                <p class="forecast__temperature day-after-tomorrow">1°</p><img class="forecast__icon" alt="Clouds" src="img/Clouds.png"></div>
                            <div class="forecast">
                                <p class="forecast__day">четверг</p>
                                <p class="forecast__temperature
                                after-after-tomorrow">1°</p><img class="forecast__icon" alt="Rain" src="img/Rain.png"></div>
                        </div>
                    </div>
                </div>
                <div class="weather-data geo">
                    <div id="map"></div>
                    <div class="map-cluster__coordinates">
                        <p class="lat">Широта: 53°54'</p>
                        <p class="lon">Долгота: 27°34'</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= _.template(require('./../includes/footer.html').default)(data) %>
